{% extends 'base.html' %}
{% block menu %}  
<li><a href="{% url 'webapp:card_create' %}">Create Card</a></li>  
<li><a href="{% url 'webapp:card_list' %}">Home</a></li>  
{% endblock %}
{% block content %}
<div class="container">
        <div class="card mb-3" style="width: 18rem;">
            <div class="card-body mb-2">
            <h5 class="card-title">Name: {{ card.card_owner }}</h5>
            <p class="card-text">{{ card.card_number }}</p>
            <p class="card-text">{{ card.card_balance }}</p>
            <p class="card-text">{{ card.created_at }}</p>
            <p class="card-text">{{ card.end_date }}</p>  
            <p class="card-text">{{ card.card_status }}</p>                
            </div> 
        </div>
</div>
{% endblock %}    