<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?{% if query %}{{ query }}&{% endif %}page=1">&laquo;  First page</a>
            <a href="?{% if query %}{{ query }}&{% endif %}page={{ page_obj.previous_page_number }}">Back</a>
        {% else %}
            <span class="page-disabled">&laquo; First page</span>
            <span class="page-disabled">Back</span>
        {% endif %}
        <form class="current-page" method="get">
            <label for="page">
                {% if search_value %}<input type="hidden" name="search" value="{{ search_value }}">{% endif %}
                Page <input type="text" name="page" id="page" value="{{ page_obj.number }}">
                of {{ page_obj.paginator.num_pages }}.
            </label>
        </form>
        {% if page_obj.has_next %}
            <a href="?{% if query %}{{ query }}&{% endif %}page={{ page_obj.next_page_number }}">Next</a>
            <a href="?{% if query %}{{ query }}&{% endif %}page={{ paginator.num_pages }}">End page &raquo;</a>
        {% else %}
            <span class="page-disabled">Next</span>
            <span class="page-disabled">End Page &raquo;</span>
        {% endif %}
    </span>
</div>