{% extends 'base.html' %}
{% block menu %}  
{% endblock %}
{% block content %}
<div class="container">
        <div class="card mb-3" style="width: 18rem;">
            <div class="card-body mb-2">
            <h5 class="card-title">Product Name: {{ product.product_name }}</h5>
            <h6 class="card-subtitle mb-2">Price: {{ product.price }}</h6>      
            <a href="#"><img src="https://img.icons8.com/fluent-systems-filled/25/000000/trash.png"/></a> 
            </div>    
        </div>
    </div>
{% endblock %}    